project_info:
  name: "20251111_cuttag_test"
  description: "CUT&Tag macrophage pilot run"
  genome: "hg38"
  samples:
    table: "config/samplesheet_test.tsv"
    pep_config: "config/pep/project_config.yaml"
    pep_attributes:
      raw_data_attribute: "raw_data|data/raw"
      fastq_pairs:
        R1: "{raw_data|data/raw}/{fastq_id}_R1.fastq.gz"
        R2: "{raw_data|data/raw}/{fastq_id}_R2.fastq.gz"
  data:
    raw_data_root: "/data2/litian/macrophage/data/CUT_test"
  outputs:
    root: "/data2/litian/macrophage/process/20251111_cuttag_test/"
    structure:
      important_processed:
        bam: "important_processed/bam"
        track: "important_processed/track"
        peaks: "important_processed/peaks"
      downstream_res:
        homer: "downstream_res/homer"
        diffbind: "downstream_res/diffbind"
        deseq2: "downstream_res/deseq2"
        counts: "downstream_res/counts"
      middle_file:
        trimmed_fastq: "middle_file/trimmed_fastq"
      refs: "refs"
      envs: "envs"
      report: "report"
      logs: "logs"

workflow_resources:
  execution:
    use_singularity: true
    singularity_image_folder: "/home/groups/MaxsonLab/software/singularity-containers/pipeline_containers/cuttag/image_files"
  compute:
    threads_default: 8
    memory_gb_default: 32
  profiles:
    cluster_config: "config/cluster.yaml"

pipeline_steps:
  preprocessing:
    trim_adapters: true
  alignment:
    aligner: "bowtie2"
  peaks:
    use_igg: false
    igg_token: "IgG"
    n_intersects: 2
  diffbind:
    padj_cutoff: 0.05

reference:
  genome_index: "/data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/indices_for_Bowtie2/hg38"
  genome_fasta: "/data2/litian/database/genome/GRCh38.primary_assembly.genome.fa.gz"
  genes_bed: "genes/hg38_refseq_genes.bed"
  chrom_sizes: "genes/hg38.chrom.sizes"
  adapter_fasta: "genes/adapter_seqs.fa"
  fastq_screen_config: "config/fastq_screen.conf"
  blacklist: ""